<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New PO</h1>
    <a href="{% url 'list-po' %}">List of purchase orders</a>
    <form action="{% url 'new-po' %}" method="POST">
        {% csrf_token %}
        <div>
            <label>
                Company:
                <select name="company_id" required>
                {% for company in companies %}
                    <option value="{{ company.id }}">
                        {{ company.name }}
                    </option>
                {% endfor %}
                </select>
            </label>
        </div>
        <div>
            <label>
                Description of product/service:
                <input type="text" name="description" required /> 
            </label>
        </div>
        <div>
            <label>
                Amount ($):
                <input type="number" name="amount" min="0" required /> 
            </label>
        </div>
        <div>
            <label>
                Start date:
                <input type="date" name="start_date" required /> 
            </label>
        </div>
        <div>
            <label>
                End date:
                <input type="date" name="end_date" required /> 
            </label>
        </div>        
        <button type="submit">Create purchase order</button>
    </form>
    <div>{{ message }}</div> 
 
</body>
</html>