<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New PO</h1>
    <a href="{% url 'list' %}">List of purchase orders</a>
    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <label>
            Company id (TODO: make this a SELECT):
            <input type="text" name="company_name" />
        </label>
        <section class="js-items-container"></section>
        <button class="js-new-item">Add item</button>        
        <button type="submit">Create company</button>
    </form>
    <div>{{ message }}</div> 
    <script>
let item_num = 1;
let template = (event) => {  
    event.preventDefault();
    document.querySelector('.js-items-container').innerHTML += `
    <div class="item-row">
        <label>
            Item name:
            <input type="text" name="item-name-1" />
        </label>
        <label>
            Quantity:
            <input type="text" name="item-quantity-1" />
        </label>        
        <label>
            Cost per item:
            <input type="text" name="item-cost-1" />
        </label> 
    </div>    
    `;
}
document
    .querySelector('.js-new-item')
    .addEventListener('click', template);

    </script>   
</body>
</html>